#content{
	margin:auto;
	margin-top: 5%;
	text-align: center;
}

/*=============================================== tabel utama =================================================*/

#tabelutama, #tabelutama td {
	font-size:1em;
	padding: 0.8em;
	color:#000000;
}


.kepalatabel {
	background: rgba(234, 236, 244, 1); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(234, 236, 244, 1) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  rgba(234, 236, 244, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(234, 236, 244, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(234, 236, 244, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(234, 236, 244, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}

.kepalatabel th {
	padding: 0.5em;
	color:#2e59d9;
	font-size:1em;
}

.satu {
	background-color:#728fce;
}

.dua {
	background-color:#a4d894;
	padding-top:0.5em;
}

.satu:hover, .dua:hover {
	background-color:#BADFFE;
	cursor:pointer;
}

/*========================================== akhir tabel utama ================================================*/
